<h1>Stupid Coaching</h1>

<div class="your_reply">
  <p><%=@answer%></p>
  <p><em>-You</em></p>
</div>

<div class="coach_reply">
  <p><strong><%=@response%></strong></p>
  <p><em>-Your Coach</em></p>
</div>

<div class="ask_question">
  <p><%= link_to "Ask a new question", ask_path, id:"link" %></p>
</div>



